<div>
    <h2>Code d'activation Azure Dreamspark</h2>
    <div class="wa-spacer">
        <h3>Cher étudiant d'Ingesup Bordeaux, pour pouvoir récupérer un code te permettant d'activer facilement ton compte Azure gratuit, il te suffit de spécifier ton adresse e-mail ci-dessous :</h3>

        <form action="@Url.Action("RequestCode", "Home")" method="post">
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Email">
            </div>
            <div class="form-group">
                <button type="submit" class="wa-button wa-button-primary">Valider</button>
            </div>
        </form>
    </div>
</div>